{%
set output =  h.get_action('package_search', {'rows': 5, 'sort': 'metadata_modified desc'}) 
%}

       <div class="box">
          <section class="group-list module module-narrow module-shallow">
            <header class="module-heading media">
              <div class="media-content">
                <h3 class="media-heading">Recently updated</h3>
                <p>Datasets recently modified</p>
              </div>
            </header>

           <ul id="recent-list" class="unstyled dataset-list">
    {% for package in output.results %}
              <li class="dataset-item module-content">
                 <div class="dataset-content">
                    <h3 class="dataset-heading">{{ h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name)) }}</h3>
                    <div>Updated on {{h.render_datetime(package.metadata_modified)}}</div></div></li>
    {% endfor %}
           </ul>
         </section>

        </div>
