{%
set output =  h.get_summary_list(5)
%}

        <div class="box">
          <section class="group-list module module-narrow module-shallow">
            <header class="module-heading media">
              <div class="media-content">
                <h3 class="media-heading">Popular datasets</h3>
                <p>Most viewed dataset during the last 14 days</p>
              </div>
            </header>

           <ul id="popular-list" class="unstyled dataset-list">
       {% for package in output %}
              <li class="dataset-item module-content">
                 <div class="dataset-content">
                    <h3 class="dataset-heading">{{ h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name)) }}</h3>
                    <div>{{package.tracking_summary.recent}} recent views</div></div></li>
    {% endfor %}
           </ul>

         </section>

        </div>
