{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Subscribe</h1>

      <h2>Follow us on Twitter</h2>
      <p>Follow <a href="https://twitter.com/surreyopendata">@SurreyOpenData</a></p>


      <h2>Subscribe to email notification</h2>
      <p>You can receive automated notification when new activity occurs. For this, you can create an account, activitate the email notifications and then either follow specific categories or dataset.</p>

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Subscribe') }}
  </h2>
  <div class="module-content">
    <p>
      Keep up to date!
    </p>
  </div>
</div>
{% endblock %}