{% ckan_extends %}

{% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About this Catalogue') }}</a></li>
              <li><a href="{{ h.url_for(controller='ckanext.surrey.controller:SuggestController', action='suggest_form') }}">Suggest a Dataset</a></li>
              <li><a href="/pages/faq">FAQ</a></li>
{% endblock %}


{% block footer_links_ckan %}
{% endblock %}

{% block footer_lang %}
{% endblock %}

{% block footer_attribution %}
          <ul class="unstyled">
                          {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              <li><a href="/pages/city-of-surrey-open-data-api">City of Surrey Open Data API</a> (<a href="{{ api_url }}">Docs</a>)</li>
              <li><a href="/pages/glossary">Glossary of Terms</a></li>
              <li><a href="{{ h.url_for(controller='ckanext.surrey.controller:FollowController', action='follow') }}">Subscribe</a></li>
          </ul>

{% endblock %}
