{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post">
  {{ form.errors(error_summary) }}

  <fieldset>

    {{ form.input('name', label=_('Nombre de contacto'), id='field-name', value=data.name, error=errors.name, classes=['control-medium'], is_required=true) }}

    {{ form.input('email', label=_('Correo electrónico'), id='field-email', type='email', value=data.email, error=errors.email, classes=['control-medium'], is_required=true) }}

    {{ form.input('category', label=_('Categoría'), id='field-category', value=data.category, error=errors.category, placeholder=_('ej. Medio ambiente, Finanzas, Parques, etc'), classes=['control-medium']) }}

    {{ form.markdown('suggestion', label=_('Tu propuesta'), id='field-suggestion', value=data.suggestion, error=errors.suggestion, placeholder=_('¿Qué datos estás buscando y por qué?'), is_required=true) }}

  {% if g.recaptcha_publickey %}
    {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
  {% endif %}

  </fieldset>

  <div class="form-actions">
    {{ form.required_message() }}
    <button class="btn btn-primary" type="submit" name="save">{{ _('Submit') }}</button>
  </div>
  <br/>
  
</form>

<script>

document.getElementById("field-name").value="Ciudadano Anónimo";
document.getElementById("field-email").value="CiudadanoAnonimo@ejemplo.com";

document.getElementById("field-name").parentNode.parentNode.style.display="none";
document.getElementById("field-email").parentNode.parentNode.style.display="none";
document.getElementById("field-category").parentNode.parentNode.style.display="none";

n=document.getElementById("field-suggestion");
do n = n.nextSibling;
while (n && n.nodeType != 1);
n.innerHTML="";

</script>