[role=main], .main {
background: #F0EADE;
}

.intro-text .media-heading {
display: none;
}

.module-content.intro-text{
padding: 0px 25px 5px 25px;
color: #fff;
background: #363636 url("/base/images/bg.png");
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 16px;
color: #ccdee3;
line-height: 145%;
font-weight: normal;
}

.intro-text header {
width: 450px;
float: right;
margin-right: 15px;
  height: 130px;
  line-height: 130px;
display: block;
}

@media (max-width:600px){
    .intro-text header {
        float: none;
        width: 80%;
    }
    
    .media-overlay.featured{
        width: 100%;
    }
}

.intro-text header a {
text-decoration: underline;
color: #fff;
}

.intro-text header a:hover {
text-decoration: none;
color: #fff;
}

.intro-text header p {
display: inline-block;
 vertical-align: middle;
  line-height: 140%;      
}

.intro-image img {
   margin-top: 20px;
}
.masonry .media-image, .masonry .media-heading {
display: block;
margin: auto;
text-align: center;
}

.context-info h1.heading {
display: block;
margin: auto;
text-align: center;
}

aside .context-info img {
display: block;
margin: auto;
text-align: center;
}


.module-content .featured {
    width: 100%;
}


.account-masthead {
    background: url("../../../base/images/bg.png") repeat scroll 0 0 #D7D3C6;
}

.masthead {
    background: url("../../../base/images/bg.png") repeat scroll 0 0 #F0EADE;
}

.masthead .navigation {
    margin-right: 0px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a, a.tag:hover, a.tag:active {
    background-color: #7e9b35;
}

a.tag:hover, a.tag:active {
  border: 1px solid #7e9b35;
  -webkit-box-shadow: inset 0 1px 0 #7e9b35;
  -moz-box-shadow: inset 0 1px 0 #7e9b35;
  box-shadow: inset 0 1px 0 #7e9b35;
}

.account-masthead .account ul li a {
    color: #7E9B35;
}

.masthead .site-search {
    display: none;
}



.nav-pills li a {
    background-color: #7A7A7A;
    border-radius: 0px;
}

body {
background: #005d7a url("/base/images/bg.png");
}


.hero , body>[role=main] {
    background: url("/images/background-tile.png");
    background-repeat: no-repeat;
}


.search-by-cat {
	padding: 10px 0 10px 17px;
	background-color: #f0eade;
	margin-top: 0px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.search-by-cat h3{
margin-top: 0;
margin-bottom: 7px;
font-size: 24px;
line-height: 40px;
}

.surrey-media-grid {
	margin: 0;
	list-style: none;
	margin: 0;

	padding-bottom: 15px;

}

.surrey-media-grid:before, .surrey-media-grid:after {
	display: table;
	content: "";
	line-height: 0;
}

.surrey-media-grid:after {
	clear: both;
}

.surrey-media-item {
	position: relative;
	float: left;
	width: 125px;
	padding: 10px 10px 10px 13px;
	text-align: center;
	height: 125px;
}

.surrey-media-item span {
	display:block;
	color: #333333;
}

.homepage .module-search .tags {
	padding: 5px 10px 10px 10px;
	background-color: #d7d3c6;
	-webkit-border-radius: 0 ;
	-moz-border-radius: 0 ;
	border-radius: 0;
}

body {
	background: #f0eade;
}

.homepage .module-search .module-content {
	background-color: #f0eade;
}



.homepage .module-search {
	color: #333333;
}


.site-footer {
	background: #363636 url("/base/images/bg.png");
}

.resource-item {
margin-top: 12px;
margin-bottom: 12px;
min-height: 40px;
}

.resource-item .heading {
color: #000000;
font-size: 14px;
font-weight: bold;
margin-top: -8px;
display: block;
}

.resource-item .format-label {
  top: 5px;

}

.attribution ul li {
	margin-bottom: 5px;
}

.label {text-transform: uppercase;}



.label[data-format=dwg], .label[data-format*=dwg] {
background-color: #3fa9f5;
}

.format-label[data-format=dwg], .format-label[data-format*=dwg] {
  width: 30px;
  height: 32px;
  background-image: url("/images/dwg-icon-small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


.label[data-format=fgdb], .label[data-format*=fgdb] {
background-color: #2da343;
}

.format-label[data-format=fgdb], .format-label[data-format*=fgdb] {
  width: 30px;
  height: 32px;
  background-image: url("/images/fgdb-icon-small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


.label[data-format=kml], .label[data-format*=kml] {
background-color: #264fbd;
}

.format-label[data-format=kml], .format-label[data-format*=kml] {
  width: 30px;
  height: 32px;
  background-image: url("/images/kml-icon-small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}




.label[data-format=tif], .label[data-format*=tif] {
background-color: #814d9f;
}

.format-label[data-format=tif], .format-label[data-format*=tif] {
  width: 30px;
  height: 32px;
  background-image: url("/images/tif-icon-small.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}


img.emailnotif {
   border: 1px solid #888;
   margin: 10px auto 20px auto;
}


.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #7A7A7A;
background-image: -moz-linear-gradient(top,#7A7A7A,#5a5a5a);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#7A7A7A),to(#5a5a5a));
background-image: -webkit-linear-gradient(top,#7A7A7A,#5a5a5a);
background-image: -o-linear-gradient(top,#7A7A7A,#5a5a5a);
background-image: linear-gradient(to bottom,#7A7A7A,#5a5a5a);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7A7A7A',endColorstr='#ff5a5a5a',GradientType=0);
border-color: #085871 #085871 #03202a;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background: #7e9b35;
  *background: #7e9b35;
}

.btn-group.open .btn-primary.dropdown-toggle {
background-color: #7e9b35;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #7A7A7A;
  background-image: -moz-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7A7A7A), to(#5a5a5a));
  background-image: -webkit-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: -o-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: linear-gradient(to bottom, #7A7A7A, #5a5a5a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7A7A7A', endColorstr='#ff5a5a5a', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #17708b;
  background-image: -moz-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7A7A7A), to(#5a5a5a));
  background-image: -webkit-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: -o-linear-gradient(top, #7A7A7A, #5a5a5a);
  background-image: linear-gradient(to bottom, #7A7A7A, #5a5a5a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7A7A7A', endColorstr='#ff5a5a5a', GradientType=0);
}
