.intro-text .media-heading {
display: none;
}

.module-content.box {
padding-bottom: 10px;
}

.intro-text header {
width: 370px;
float: left;
margin-right: 33px;
}


.hero {
background: url("/images/background-tile.png");
}

