<section class="module-content additional-info">
  <h3>{{ _('Additional Information') }}</h3>

  {% if pkg_dict.purpose %}
    <div class="purpose embedded-content">
      <h5>Purpose</h5>
      {{ h.render_markdown(pkg_dict.purpose) }}
    </div>
  {% endif %}

  {% if pkg_dict.data_quality %}
    <div class="data-quality embedded-content">
      <h5>Data quality</h5>
      {{ h.render_markdown(pkg_dict.data_quality) }}
    </div>
  {% endif %}

  {% if pkg_dict.lineage %}
    <div class="lineage embedded-content">
      <h5>Data Lineage</h5>
      {{ h.render_markdown(pkg_dict.lineage) }}
    </div>
  {% endif %}
  
    {% if pkg_dict.more_information %}
      <tr>
        <th scope="row" class="dataset-label">{{ _("More information") }}</th>
        <td class="dataset-details">{{ pkg_dict.more_information }}</td>
      </tr>
    {% endif %}

  <h4>{{ _('Contact Information') }}</h4>

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
    {% if pkg_dict.owner %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Owner') }}</th>
      <td class="dataset-details" property="dc:owner">{{ pkg_dict.owner }}</td>
    </tr>
    {% endif %}
    {% if pkg_dict.department %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Department') }}</th>
      <td class="dataset-details" property="dc:owner">{{ pkg_dict.department }}</td>
    </tr>
    {% endif %}
    {% if pkg_dict.organization %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Organization') }}</th>
      <td class="dataset-details" property="dc:owner"><a href="/organization/{{ pkg_dict.organization.name }}">{{pkg_dict.organization.title}}</a></td>
    </tr>
    {% endif %}
    {% if pkg_dict.maintainer_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Custodian") }}</th>
          <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
        </tr>
    {% endif %}
    </tbody>
  </table>
  <h4>{{ _('Access and Security') }}</h4> 
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
      {% if pkg_dict.metadata_visibility %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Who can view this Dataset") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.metadata_visibility }}</td>
          </tr>
      {% endif %}
      {% if pkg_dict.view_audience %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Who can download this Dataset") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.view_audience }}</td>
          </tr>
      {% endif %}
    </tbody>
  </table>
  <h4>{{ _('Metatdata Information') }}</h4>
  <table class="table table-striped table-bordered table-condensed">
    <!-- Removed -->
    <!--thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead-->
    <tbody>
      {% if pkg_dict.metadata_created %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('First Published Date') }}</th>
          <td class="dataset-details" property="dc:issued">{{ h.format_date(pkg_dict.metadata_created) }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.url %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Source') }}</th>
          <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.author_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
        </tr>
      {% elif pkg_dict.author %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Author") }}</th>
          <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.maintainer_email %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
        </tr>
      {% elif pkg_dict.maintainer %}
        <tr>
          <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
          <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.version %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Version") }}</th>
          <td class="dataset-details">{{ pkg_dict.version }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.update_frequency %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Data Update Frequency") }}</th>
          <td class="dataset-details">{{ pkg_dict.update_frequency}}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.coordinate_system %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Coordinate system") }}</th>
          <td class="dataset-details">{{ pkg_dict.coordinate_system }}</td>
        </tr>
      {% endif %}

      {% if pkg_dict.attribute_details %}
        <tr>
          <th scope="row" class="dataset-label">{{ _("Attribute details") }}</th>
          <td class="dataset-details">{{ h.render_markdown(pkg_dict.attribute_details)}}</td>
        </tr>
      {% endif %}


      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <!-- Removed -->
        <!--tr>
          <th scope="row" class="dataset-label">{{ _("State") }}</th>
          <td class="dataset-details">{{ pkg_dict.state }}</td>
        </tr-->
      {% endif %}

{#      {% for extra in h.sorted_extras(pkg_dict.extras) %}#}
{#        {% set key, value = extra %}#}
{#        <tr rel="dc:relation" resource="_:extra{{ i }}">#}
{#          <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>#}
{#          <td class="dataset-details" property="rdf:value">{{ value }}</td>#}
{#        </tr>#}
{#        {% endfor %}#}
    </tbody> 

  </table>

 {% block disqus_comments %}{{ h.disqus_comments() }}{% endblock %}
</section>

